<!DOCTYPE html>
<html class="no-js" lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>AHM Contact</title>
        <meta name="description" content="Adrienne Helms Major Personal Website">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../css/main.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="../js/main.js" defer></script>


        <!--Nunito Sans: extra-light 200, light 300, regular 400, semi-bold 600, bold 700, extra-bold 800, black 900-->
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">

    </head>
    <body>
        <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser.
            Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and
            security.
        </p>
        <![endif]-->

        <header id="pageHeader">
            <nav id="headerContainer">
                <span id="headerName">Adrienne Helms Major</span>
                <a class="push" href="index.html">Home</a>
                <a href="funfacts.html">Fun Facts</a>
                <a href="portfolio.html">Portfolio</a>
                <a href="resume.html">Resume</a>
                <a class="active" href="contact.html">Contact</a>
            </nav>
        </header>

        <main class="pageBody">

            <section id="contactAuPic">
                <div class="containerBox">
                    <div class="quote">Yo Adrienne!</div>
                </div>
            </section>

            <hr>

            <section id="contactGroup">
                <h4>
                    Thanks for stopping by! I'd love to hear from you!
                </h4>
                <!--<span>-->
                    <!--Please get in touch via this email form or connect with me on LinkedIn.-->
                <!--</span>-->
                <form id="contactForm" action="" method="post">
                    <div>
                        <label for="formName">Name *</label>
                        <input type="text" id="formName" name="name" required>
                    </div>
                    <div>
                        <label for="formEmail">Email *</label>
                        <input type="email" id="formEmail" name="email" required value="" title="The domain portion of your email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$">
                    </div>
                    <div>
                        <label for="formMessage">Message *</label>
                        <textarea id="formMessage" name="message" minlength="15" required></textarea>
                    </div>
                    <div>
                        <button id="formButton" type="submit">Send</button>
                    </div>
                </form>
            </section>

        </main>

        <footer>
            <a href="https://www.linkedin.com/in/adriennehelmsmajor/" target="_blank">
                <img src="../img/ic_linkedin_tm_white.png">
            </a>
            <a href="https://github.com/adrienneh99" target="_blank">
                <img src="../img/ic_github_mark.png">
            </a>
            <a href="contact.html#contactGroup">
                <img src="../img/ic_email_white.png">
            </a>
        </footer>

    </body>
</html>
