<!DOCTYPE html>
<html class="no-js" lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>AHM Fun Facts</title>
        <meta name="description" content="Adrienne Helms Major Personal Website">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../css/main.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.4/flexslider.css" />

        <!--Open Sans: light 300, regular 400, semi-bold 600, bold 700, extra-bold 800-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!--Flexslider 2.6.4 min-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.4/flexslider.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.4/jquery.flexslider.min.js"></script>


        <script>
            $(function () {
                $('#funFactsSlider').flexslider({
                    //Default settings
                    animation: "slide",
                    animationLoop: true,
                    smoothHeight: true,
                    startAt: 0,
                    slideshow: true,
                    slideshowSpeed: 3000,
                    animationSpeed: 1000,
                    initDelay: 0,
                    randomize: true,
                    //Usability features
                    useCSS: true,
                    //Primary controls
                    controlNav: false,
                    directionNav: false,
                    //Special properties
                    controlsContainer: '.flex-control-nav-container',
                    //Carousel options
                    itemWidth: 200
                });
            });
        </script>


    </head>
    <body>
        <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser.
            Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and
            security.
        </p>
        <![endif]-->

        <header id="pageHeader">
            <nav id="headerContainer">
                <span id="headerName">Adrienne Helms Major</span>
                <a class="push" href="index.html">Home</a>
                <a class="active" href="funfacts.html">5 Fun Facts</a>
                <a href="portfolio.html">Portfolio</a>
                <a href="resume.html">Resume</a>
                <a href="contact.html">Contact</a>
            </nav>
        </header>

        <main class="pageBody">

            <section id="aboutAuPic">
                <div class="containerBox">
                    <div class="quote">
                        When life gets you down...<br/>
                        Just keep swimming!<br/>
                        <span class="quoteMovie">~ Finding Nemo</span>
                    </div>
                </div>
            </section>

            <section id="dreamJobSection">
                <h3>1 My Dream Job...</h3>
                <div id="dreamJobGroup">
                    <img src="../img/img_ahm.jpg">
                    <div>
                        Is to be a professional singer. <br/>
                        Karaoke anyone?
                    </div>
                </div>
            </section>

            <hr class="smDivider">

            <section id="currentlyWatchingSection">
                <h3>2 I'm Currently Watching...</h3>
                <div>
                    Broadchurch, The Good Doctor & Wisdom of the Crowd
                </div>
            </section>

            <hr class="smDivider">

            <section id="bestAdviceSection">
                <h3>3 The Best Piece Of Advice I Ever Received...</h3>
                <div>
                    "Just try. The worst thing they can say is no." (Thanks Mom!)
                </div>
            </section>

            <hr class="smDivider">

            <section id="cantLiveWithoutSection">
                <h3>4 I Can't Live Without...</h3>
                <div id="cantLiveWithoutGroup">
                    <ul>
                        <li>Cherry Lime La Croix</li>
                        <li>My friends & family</li>
                        <li>Mahjong...really any games or puzzles</li>
                        <li>Chocolate</li>
                        <li>My hilarious husband</li>
                        <li>Houzz & HGTV</li>
                        <li>Bubbly</li>
                        <li>My furbabies...Vinny & Folsom</li>
                        <li>Traveling...favorite place is Australia</li>
                    </ul>
                    <div id="funFactsSlider" class="flexslider">
                        <ul class="slides">
                            <li><img src="../img/img_family_01.jpg"/></li>
                            <li><img src="../img/img_family_02.jpg"/></li>
                            <li><img src="../img/img_folsom_01.jpg"/></li>
                            <li><img src="../img/img_folsom_02.jpg"/></li>
                            <li><img src="../img/img_folsom_03.jpg"/></li>
                            <li><img src="../img/img_folsom_04.jpg"/></li>
                            <li><img src="../img/img_folsom_vinny_01.jpg"/></li>
                            <li><img src="../img/img_friends_01.jpg"/></li>
                            <li><img src="../img/img_vinny_01.jpg"/></li>
                            <li><img src="../img/img_vinny_02.jpg"/></li>
                            <li><img src="../img/img_vinny_03.jpg"/></li>
                            <li><img src="../img/img_vinny_04.jpg"/></li>
                        </ul>
                    </div>
                </div>
            </section>

            <hr class="smDivider">

            <section id="enfjSection">
                <h3>5  If You Really Want To Know What Makes Me Tick...</h3>
                <div>
                    <a href="https://www.16personalities.com/enfjs-at-work" target="_blank">
                        <button id="enfjButton">ENFJ</button>
                    </a>
                </div>
            </section>

        </main>

        <footer>
            <div>
                <a href="https://www.linkedin.com/in/adriennehelmsmajor/" target="_blank">
                    <img src="../img/ic_linkedin_tm_white.png">
                </a>
                <a href="https://github.com/adrienneh99" target="_blank">
                    <img src="../img/ic_github_mark_white.png">
                </a>
                <a href="contact.html#contactForm">
                    <img src="../img/ic_email_white.png">
                </a>
            </div>
            <span>© 2018 Adrienne Helms Major</span>
        </footer>


    </body>
</html>
