<!doctype html>
<html class="no-js" lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>AHM Home</title>
        <meta name="description" content="Adrienne Helms Major Personal Website">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../css/main.css">

        <script src="../js/main.js"></script>

        <!--Nunito Sans: extra-light 200, light 300, regular 400, semi-bold 600, bold 700, extra-bold 800, black 900-->
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">

    </head>

    <body>
        <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser.
            Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and
            security.
        </p>
        <![endif]-->

        <header id="pageHeader">
            <nav id="headerContainer">
                <span id="headerName">Adrienne Helms Major</span>
                <a class="active push" href="index.html">Home</a>
                <a href="funfacts.html">Fun Facts</a>
                <a href="portfolio.html">Portfolio</a>
                <a href="resume.html">Resume</a>
                <a href="contact.html">Contact</a>
            </nav>
        </header>

        <main class="pageBody">

            <section id="homeAuPic">
                <div id="containerBoxHome">
                    <div id="name">Adrienne Helms Major</div>
                    <div id="jobTitle">Web & Android Developer</div>
                    <div id="availableForHire">
                        <span class="highlight">&lcub;</span>
                        <span>available for hire</span>
                        <span class="highlight">&rcub;</span>
                    </div>
                </div>
            </section>

            <hr>

            <section id="helloAndWelcome">
                <h2>Hello & Welcome!</h2>
                <div id="helloAndWelcomeText">
                    I'm a former business professional with a proven track record of going above and beyond to improve
                    the environments I work in. Whether I'm delivering exceptional customer service or finding
                    innovative and efficient ways to get things done, I'm always up for a challenge!
                    <br/>
                    <br/>
                    I bring a wide range of skill sets to each project, including attention to detail, organization,
                    ability to multitask, and years of successful project collaboration. I love to learn new things and
                    I'm a quick learner! Over a period of 16 weeks I taught myself Android development while building a
                    fully functional mobile app.
                    <br/>
                    <br/>
                    Drawn to the blend of creative and analytical skills required in software development, my goal is
                    to better the world through coding. I'm dedicated to making a difference and nothing motivates me
                    more than knowing that my efforts are contributing to something bigger than myself.
                </div>
                <a href="funfacts.html" target="_blank">
                    <button id="moreAboutMeButton">More About Me...</button>
                </a>
            </section>

            <hr>

            <section id="myApps">
                <h2>My Apps</h2>
                <div id="myAppsContainer">

                    <div id="myAppsFitnessZone">
                        <div class="appBox">
                            <span class="appName">Fitness Zone</span>
                            <span class="appType">Android Mobile App</span>
                            <a href="portfolio.html#fitnessZoneAnchor" target="_blank">View Project</a>
                        </div>
                    </div>

                    <div id="myAppsPingoraIntranet">
                        <div class="appBox">
                            <span class="appName">Pingora Intranet</span>
                            <span class="appType">Website</span>
                            <a href="portfolio.html#pingoraIntranetAnchor" target="_blank">View Project</a>
                        </div>
                    </div>

                    <div id="myAppsTravelManager">
                        <div class="appBox">
                            <span class="appName">Travel Manager</span>
                            <span class="appType">Desktop & Web App</span>
                            <a href="portfolio.html#travelManagerAnchor" target="_blank">View Project</a>
                        </div>
                    </div>

                </div>

            </section>

            <hr>

            <section id="testimonials">
                <h2>Testimonials</h2>
                <div class="testimonial">
                    "Adrienne is an intelligent and motivated individual. She is extremely hard working and very
                    capable of excelling in any industry."
                </div>
                <div class="testimonialAuthor">
                    Paul B. Jackson, CFA | President | Aegis Asset Management, Inc. & Westcott Securities, LLC
                </div>
                <br/>
                <br/>
                <div class="testimonial">
                    "Adrienne’s ability to transition from one role to the next has proved instrumental. She earns
                    continuous praise from advisors and clients alike for her positive attitude and expertise. In
                    addition to exhibiting a genuine enthusiasm for going the extra mile, Adrienne has been active
                    in developing the talents of others. She is an asset to the office and a true pleasure to work
                    with."
                </div>
                <div class="testimonialAuthor">
                    Alyson Eaton | Manager, Private Client Services | Bernstein Global Wealth Management
                </div>
                <br/>
                <br/>
                <div class="testimonial">
                    "Adrienne was extremely helpful to me in my practice. Adrienne is very knowledgeable about
                    running a professional office and is very intelligent."
                </div>
                <div class="testimonialAuthor">
                    Jeffrey Fryer | Vice President | Bernstein Global Wealth Management
                </div>
            </section>

            <hr>

            <section id="whatImLookingFor">
                <h2>What I'm Looking For</h2>
                <div id="companyQualities">
                    <div>A collaborative, creative, and fast paced environment.</div>
                    <div>A place where I can learn from my colleagues and grow as a software engineer.</div>
                    <div>
                        A company that rewards hard work and balances it with a flexible, fun, and casual
                        atmosphere.
                    </div>
                    <div>
                        A transparent culture that prioritizes business goals above personal career interests...No
                        politics please.
                    </div>
                </div>
                <br/>
                <h4>Let's chat about how I can help!</h4>
            </section>

        </main>

        <footer>
            <a href="https://www.linkedin.com/in/adriennehelmsmajor/" target="_blank">
                <img src="../img/ic_linkedin_tm_white.png">
            </a>
            <a href="https://github.com/adrienneh99" target="_blank">
                <img src="../img/ic_github_mark.png">
            </a>
            <a href="contact.html#contactForm" target="_blank">
                <img src="../img/ic_email_white.png">
            </a>
        </footer>

        <!-- Modernizr JS library & Polyfills -->
        <script src="../js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous">
        </script>
        <script>window.jQuery || document.write('<script src="../js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
        <script src="../js/plugins.js"></script>
        <script src="../js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>

    </body>
</html>
