<!DOCTYPE html>
<html class="no-js" lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>AHM Resume</title>
        <meta name="description" content="Adrienne Helms Major Personal Website">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../css/main.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="../js/resume.js" defer></script>

        <!--Open Sans: light 300, regular 400, semi-bold 600, bold 700, extra-bold 800-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    </head>
    <body>
        <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser.
            Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and
            security.
        </p>
        <![endif]-->

        <header id="pageHeader">
            <nav id="headerContainer">
                <span id="headerName">Adrienne Helms Major</span>
                <a class="push" href="index.html">Home</a>
                <a href="funfacts.html">5 Fun Facts</a>
                <a href="portfolio.html">Portfolio</a>
                <a class="active" href="resume.html">Resume</a>
                <a href="contact.html">Contact</a>
            </nav>
        </header>

        <main class="pageBody">

            <section id="resumeAuPic">
                <div class="containerBox">
                    <div class="quote">
                        In every job that must be done,<br/>
                        there is an element of fun!<br/>
                        <span class="quoteMovie">~ Mary Poppins</span>
                    </div>
                </div>
            </section>

            <section id="downloadResume">
                <button id="downloadResumeButton">Download Complete Resume</button>
            </section>

            <hr>

            <section id="technicalSkills">
                <h2>Technical Skills</h2>

                <div class="technicalSkillsContainer">
                    <h4>Programming Languages</h4>
                    <div>
                        CSS, HTML, Java, JavaScript, PHP, SQL, XML
                    </div>
                </div>

                <div class="technicalSkillsContainer">
                    <h4>Web Frameworks & Technologies</h4>
                    <div>
                        AJAX, AngularJS, Bootstrap, Google Maps, Google Places, HTTP, jQuery, JSF, JSON, JSP, Spring MVC
                    </div>
                </div>

                <div class="technicalSkillsContainer">
                    <h4>Database Technologies</h4>
                    <div>
                        Hibernate, JDBC, MySQL, Oracle SQL Developer
                    </div>
                </div>

                <div class="technicalSkillsContainer">
                    <h4>Development Platforms</h4>
                    <div>
                        Android Studio, Eclipse, Java SE, NetBeans
                    </div>
                </div>

                <div class="technicalSkillsContainer">
                    <h4>Testing & Logging</h4>
                    <div>
                        Jasmine, JUnit, Log4j
                    </div>
                </div>

                <div class="technicalSkillsContainer">
                    <h4>Version Control</h4>
                    <div>
                        GitHub
                    </div>
                </div>

            </section>

            <hr>

            <section id="relevantCourses">
                <h2>Relevant Courses</h2>
                <ul>
                    <li>Java Software Development</li>
                    <li>Advanced Java Software Development</li>
                    <li>Enterprise Java Software Development</li>
                    <li>Object-Oriented Software Engineering</li>
                    <li>Object-Oriented Programming Using Java</li>
                    <li>Web Software Development</li>
                    <li>Web Frameworks</li>
                    <li>Data Structures</li>
                    <li>Database Architecture</li>
                    <li>Software Engineering Practicum I & II</li>
                </ul>
            </section>

            <hr>

            <section id="education">
                <h2>Education</h2>
                <div id="educationGroup">
                    <div>
                        <div class="school">Regis University</div>
                        <div>2013 - 2016</div>
                        <div class="degree">MS in SOFTWARE ENGINEERING</div>
                    </div>
                    <div>
                        <div class="school">Texas A&M University</div>
                        <div>1995 - 1999</div>
                        <div class="degree">BBA in FINANCE</div>
                    </div>
                </div>
            </section>

            <hr>

            <section id="workExperience">
                <h2>Work Experience</h2>
                <div id="workExperienceIntro">
                    I have over 15 years of professional experience working for companies ranging in size from 5 to
                    over 5,000.
                </div>

                <div id="workExperienceTimeline">

                    <div class="workExperienceBox">
                        <h4>2013 - 2016</h4>
                        <div class="divider">
                            <div class="circle"></div>
                            <div class="verticalLine"></div>
                        </div>
                        <div class="workExperienceText">
                            <div class="company">Pingora Asset Management</div>
                            <div class="role">Executive Assistant / Office Manager</div>
                        </div>
                    </div>

                    <div class="workExperienceBox">
                        <h4>2010 - 2012</h4>
                        <div class="divider">
                            <div class="circle"></div>
                            <div class="verticalLine"></div>
                        </div>
                        <div class="workExperienceText">
                            <div class="company">Dunn Warren Investment Advisors</div>
                            <div class="role">Director of Operations</div>
                        </div>
                    </div>

                    <div class="workExperienceBox">
                        <h4>2007 - 2010</h4>
                        <div class="divider">
                            <div class="circle"></div>
                            <div class="verticalLine"></div>
                        </div>
                        <div class="workExperienceText">
                            <div class="company">Bernstein Global Wealth Management</div>
                            <div class="role">Private Client Manager, Assistant Vice President</div>
                        </div>
                    </div>

                    <div class="workExperienceBox">
                        <h4>2006 - 2007</h4>
                        <div class="divider">
                            <div class="circle"></div>
                            <div class="verticalLine"></div>
                        </div>
                        <div class="workExperienceText">
                            <div class="company">Bernstein Global Wealth Management</div>
                            <div class="role">Senior Private Client Associate</div>
                        </div>
                    </div>

                    <div class="workExperienceBox">
                        <h4>2005 - 2006</h4>
                        <div class="divider">
                            <div class="circle"></div>
                            <div class="verticalLine"></div>
                        </div>
                        <div class="workExperienceText">
                            <div class="company">Bernstein Global Wealth Management</div>
                            <div class="role">Private Client Associate</div>
                        </div>
                    </div>

                    <div class="workExperienceBox">
                        <h4>2003 - 2004</h4>
                        <div class="divider">
                            <div class="circle"></div>
                            <div class="verticalLine"></div>
                        </div>
                        <div class="workExperienceText">
                            <div class="company">Aegis Asset Management | Westcott Securities</div>
                            <div class="role">Client & Operations Specialist</div>
                        </div>
                    </div>

                    <div class="workExperienceBox">
                        <h4>2002 - 2003</h4>
                        <div class="divider">
                            <div class="circle"></div>
                            <div class="verticalLine"></div>
                        </div>
                        <div class="workExperienceText">
                            <div class="company">Aegis Asset Management | Westcott Securities</div>
                            <div class="role">Operations & Trading Specialist</div>
                        </div>
                    </div>

                    <div class="workExperienceBox">
                        <h4 id="lastHeader">1999 - 2002</h4>
                        <div id="lastDivider" class="divider">
                            <div class="circle"></div>
                        </div>
                        <div id="lastText" class="workExperienceText">
                            <div class="company">Aegis Asset Management | Westcott Securities</div>
                            <div class="role">Junior Analyst</div>
                        </div>
                    </div>

                </div>

            </section>

        </main>

        <footer>
            <div>
                <a href="https://www.linkedin.com/in/adriennehelmsmajor/" target="_blank">
                    <img src="../img/ic_linkedin_tm_white.png">
                </a>
                <a href="https://github.com/adrienneh99" target="_blank">
                    <img src="../img/ic_github_mark_white.png">
                </a>
                <a href="contact.html#contactForm" target="_blank">
                    <img src="../img/ic_email_white.png">
                </a>
            </div>
            <span>© 2018 Adrienne Helms Major</span>
        </footer>

    </body>
</html>
